/* COLOR-PALETE.STYL ======================================= */

color0 = transparent
colorBlack = #000
colorBlack03 = rgba(0, 0, 0, 0.3)
colorBlack06 = rgba(0, 0, 0, 0.6)
colorWhite = #fff
colorWhite03 = rgba(255, 255, 255, 0.3)
colorWhite06 = rgba(255, 255, 255, 0.6)

colorRed = #BD3535
colorRed09 = rgba(189,53,53,.9)

colorGray1 = #1E1E1E
colorGray2 = #252525
colorGray3 = #2D2D2D
colorGray4 = #333333
colorGray4-01 = rgba(51,51,51,0.1)
colorGray5 = #666666


colorGray7 = #aaaaaa



colorGreen = #6ABF21


