/* GLOBAL.STYL ======================================= */


/* overwrites ========================== */
html, body, div, table, p, input
	/* color: colorGray5 */
	font-family: font1
	font-size: 14px


.show
	display: block
.hide
	display: none !important
.desktop-hide
	display: none
.desktop-show
	display: block


section
	margin: 0 auto

.container
	max-width: 960px
	margin: 0 auto

.section-row
	width: 100%
	position: relative
	clear: both




