/* VARIABLES.STYL ======================================= */

/* FONT FAMILY */
font1 = 'Roboto', sans-serif
font2 = 'Open Sans', sans-serif



/* H1 - H6 HEADINGS ========================== */
h1
	font-family: font2
	font-size: 32px
	font-weight: 900
	color: colorGray1
	text-transform: uppercase



